.supreme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.testit{
    display: flex;
    flex-direction: column;
}

.columnDivider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px;
}