.flex1{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }