.flex3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}